<h3>Employee Details</h3>
<div>
    <div>
        <label><b>First Name:</b></label>{{profiles.firstname}}
    </div>
    <div>
        <label><b>Last Name:</b></label>{{profiles.lastname}}
    </div>
    <div>
        <label><b>Email:</b></label>{{profiles.email}}
    </div>
    <div>
        <label><b>Contact number:</b></label>{{profiles.phonenumber}}
    </div>
    <!-- <div>
        <label><b>SBWS Compliant:</b></label>{{profiles.iscompliant}}
    </div> -->
    <div>
        <label><b>door number:</b></label>{{profiles.doorno}}
    </div>
    <div>
        <label><b>addressline:</b></label>{{profiles.addressline}}
    </div>
    <div>
        <label><b>city:</b></label>{{profiles.city}}
    </div>
    <div>
        <label><b>state:</b></label>{{profiles.state}}
    </div>


    <div>
        <label><b>pincode:</b></label>{{profiles.pincode}}
    </div>
</div>